<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Product Page</h1>
    <!--
        product라우트로부터 전달받아야 할 데이터들
        1) 제품의 사진
        2) 제품의 이름
        3) 제품의 브랜드
        4) 제품의 등록번호
        
        항상 같은 내용으로 출력되는 데이터들
        1) div태그
        2) 상세보기 버튼
        3) 수정하기 버튼
    !-->
    <ul>
        <% viewData.forEach(function(data){ %>
        <div>
            <li><img src="<%= data.p_image %>"></li>
            <li><%= data.p_id %></li>
            <li><%= data.p_name %></li>
            <li><%= data.p_brand %></li>
            <li><%= data.p_div %></li>
        </div>
        <% }) %>
    </ul>

    <a href="/product">To Product Page</a><br>
    <a href="/product/upload">To Product Upload Page</a>
</body>
</html>