<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body onresize="loginSize()" onload="initial()">
    <% include ../templates/header %>
    <div>
        <!--content&pageW 위에 div 생성-->
        <div id="content">
            <% viewData.forEach(function(data){ %>
            <div id="wrapper">
                <div id="shadow">
                    <a href="product/<%= data.p_id %>">
                        <div id="product">
                            <div class="product-img">
                                <img src="<%= data.p_image %>">
                            </div>
                            <div class="product-info">
                                    <p id="brand"><span><%= data.p_brand %></span></p>
                                    <p><span><%= data.p_name %></span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="sns">
                    <div>
                        <a href="javascript:void(0);" onclick="handleLike(this,'<%- data.p_id %>')">
                            <% if(data.isLike==true){ %>
                                <img style="opacity: 1.0;" src="/image/good.png">
                            <% }else{ %>
                                <img src="/image/good.png">
                            <% } %>
                        </a>
                        <p><%= data.count_like %></p>
                        
                    </div>

                    <div>
                        <a href="javascript:void(0);" onclick="handleUnlike(this,'<%- data.p_id %>')">
                            <% if(data.isUnlike==true){ %>
                                <img style="opacity: 1.0;" src="/image/bad.png">
                            <% }else{ %>
                                <img src="/image/bad.png">
                            <% } %>
                        </a>
                        <p><%= data.count_unlike %></p>
                    </div>

                    <div>
                        <a href="javascript:void(0);"><img id="sns-img-comment"src="/image/comment.png"></a>
                        <p>4</p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <div id="pageW">
        <div id="page">
            <a id="1" href="/product?page=1"><div><h3>1</h3></div></a>
            <a id="2" href="/product?page=2"><div><h3>2</h3></div></a>
            <a id="3" href="/product?page=3"><div><h3>3</h3></div></a>
            <a id="4" href="/product?page=4"><div><h3>4</h3></div></a>
            <a id="5" href="/product?page=5"><div><h3>5</h3></div></a>
            <a id="5" href="/product?page=6"><div><h3>6</h3></div></a>
            <a id="5" href="/product?page=7"><div><h3>7</h3></div></a>
            <a id="5" href="/product?page=8"><div><h3>8</h3></div></a>
            <a id="5" href="/product?page=9"><div><h3>9</h3></div></a>
            <a id="5" href="/product?page=10"><div><h3>10</h3></div></a>
        </div>
    </div> 

    <%- include('../templates/login',{loginInfo:loginInfo}) %>

    <script>
        //초기 페이지가 로드될 때 수행할 작업들을 정의
        function initial(){
            if(window.innerWidth<1520){
                const loginBox=document.getElementById("log");
                loginBox.style.display="none";
            }
            const currentMenu=document.getElementById("menu_product");
            currentMenu.id="currentMenu";
        }
        //innerWidth가 1521px 부터 가리기 시작함
        function loginSize(){
            if(window.innerWidth<1520){
                console.log(window.innerWidth);
                const loginBox=document.getElementById("log");
                loginBox.style.display="none";
            }else{
                const loginBox=document.getElementById("log");
                loginBox.style.display="block";
            }
        }

        const pageNum="<%- pageNum %>";
        const activePage=document.getElementById(pageNum);
        
        activePage.childNodes[0].id="after"
        
        function handleLike(element,data){
            if(!'<%- loginInfo.loginStatus %>'){
                alert("로그인이 필요한 서비스입니다!");
                return;
            }
            const p_id=data;
            const xhttp=new XMLHttpRequest();
            const url=`/like/${p_id}`;

            xhttp.open('GET',url,true);
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState===4&&xhttp.status===200){
                    const response=JSON.parse(xhttp.responseText);
                    console.log(response);

                    if(response.isLike===false){
                        element.children[0].style.opacity=0.3;
                    }else if(response.isLike===true){
                        element.children[0].style.opacity=1.0;
                    }

                    //Parent Node의 두번째 자식인 p태그 내에 Parameter로 넘어온 COUNT값을 넣음
                    element.parentNode.children[1].innerHTML=response.COUNT;
                }
            }
            xhttp.send();
        }

        function handleUnlike(element,data){
            if(!'<%- loginInfo.loginStatus %>'){
                alert("로그인이 필요한 서비스입니다!");
                return;
            }

            const p_id=data;
            const xhttp=new XMLHttpRequest();
            const url=`/unlike/${p_id}`;

            xhttp.open('GET',url,true);
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState===4&&xhttp.status===200){
                    const response=JSON.parse(xhttp.responseText);
                    
                    //현재 이쪽 분기의 실행이 안되고 있음
                    if(response.isUnlike===false){
                        console.log("isUnlike = false!")
                        element.children[0].style.opacity=0.3;
                    }else if(response.isUnlike===true){
                        console.log("isUnlike = true!")
                        element.children[0].style.opacity=1.0;
                    }

                    //Parent Node의 두번째 자식인 p태그 내에 Parameter로 넘어온 COUNT값을 넣음
                    element.parentNode.children[1].innerHTML=response.COUNT;
                }
            }
            xhttp.send();
        }
    </script>
</body>
</html>